body{
	background-image:url(images/background.jpg);
	background-repeat:no-repeat;
	background-size:1600px 730px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.list{
	position:relative;
	width:350px;
	background-color:white;
}
.list h1{
	background-color:blue;
	color:white;
	margin:0;
	padding:10px 20px;
	font-weight:600px;
	text-align:center;
}
.list ul{
	position:relative;
	padding:20px;
}
.list ul li{
	position:relative;
	list-style:none;
	padding:15px 0px 15px 0px;
	border-bottom:1px solid black;
}
.list ul li:last-child{
	border-bottom:none;
}
.list ul li label{
	position:relative;
	display:flex;
	justify-content:space-between;
	align-items:center;
	cursor:pointer;
}
.list ul li label input{
	visibility:hidden;
	appearance:none;
}
.list ul li label p{
	position:absolute;
}
.list ul li label span{
	position:relative;
	width:20px;
	color:white;
	height:20px;
	border:1px solid violet;
	border-radius:50%;
	display:flex;
}
.list ul li label span:before{
	content:'';
	position:absolute;
	top:5px;
	width:10px;
	height:5px;
	border-left:2px solid violet;
	border-bottom:2px solid violet;
	transform:rotate(-40deg);
}
.list ul li label input:checked ~ p{
	text-decoration:line-through;
	color:violet;
}
.list ul li label input:checked ~ span{
	background-color:blue;
	border:1px solid blue;
	color:white;
}
.list ul li input:checked ~ span:before{
	border-left:2px solid white;
	border-bottom:2px solid white;
}


	